<h1>Editing configuracion</h1>

<% form_for(@configuracion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @configuracion %> |
<%= link_to 'Back', configuracions_path %>