<h1>Men&uacute; de Configuraci&oacute;n</h1>

<table>
  <tr>
  </tr>

  <tr>
    <td>1.-</td>
    <td><%= link_to 'Administraci&oacute;n de Usuarios', usuarios_path %></td>
  </tr>

  <tr>
    <td>2.-</td>
    <td><%= link_to 'Administraci&oacute;n de Publicaciones', publicacions_path %></td>
  </tr>
  
  <tr>
    <td>3.-</td>
    <td><%= link_to 'Administraci&oacute;n de Avisos Publicitarios', avisos_path %></td>
  </tr>
  
    <tr>
    <td>4.-</td>
    <td><%= link_to 'Salir de la Aplicaci&oacute;n', logout_path %></td>
  </tr>

</table>

<br />
